@model Borrowing

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "New Borrowing";
}

<div class="form-container">
    <h2 class="form-title">New Borrowing</h2>

    <form asp-action="Add" method="post" class="form">

        <div class="form-group">
            <label asp-for="ReaderID">Reader</label>
            <select asp-for="ReaderID" class="input" asp-items="ViewBag.Readers"></select>
            <span asp-validation-for="ReaderID"></span>
        </div>

        <div class="form-group">
            <label asp-for="BookID">Book</label>
            <select asp-for="BookID" class="input" asp-items="ViewBag.AvailableBooks"></select>
            <span asp-validation-for="BookID"></span>
        </div>

        <button type="submit" class="btn btn-success">
            Add Borrowing
        </button>

        <a asp-action="Index" class="btn btn-danger">
            Cancel
        </a>

    </form>
</div>
